			<div class="col-xs-12">
				<div class="target-box">

					<div class="col-xs-12">
						<div class="holder-box">
						</div>
					</div>
					<div class="col-xs-4">
						<!-- <label for="input-recurring-1">Button1</label> -->
						<div class="input-group">
							<input type="text" id="input-deadline-1" placeholder="Task Name" class="form-control">
							</input>
						</div>
					</div>
					<div class="col-xs-3">
						<!-- <label for="input-recurring-2">Button2</label> -->
						<div class="input-group">
							<input type="text" id="input-deadline-2" class="form-control" placeholder="Soft (Days)">
							</input>
						</div>
					</div>
					<div class="col-xs-3">
						<!-- <label for="input-recurring-2">Button2</label> -->
						<div class="input-group">
							<input type="text" id="input-deadline-3" class="form-control" placeholder="Hard (Days)">
							</input>
						</div>
					</div>
					<div class="col-xs-2">
						<div class="green-box" id="add-deadline">
						</div>
					</div>
				</div>
			</div>
