			<div class="col-xs-12">
				<div class="target-box">

					<div class="col-xs-12">
						<div class="holder-box">
						</div>
					</div>
					<div class="col-xs-10">
						<!-- <label for="input-recurring-1">Button1</label> -->
						<div class="input-group">
							<input type="text" id="input-note-1" placeholder="Note Name" class="form-control">
							</input>
						</div>
					</div>
										<div class="col-xs-2">
						<div class="green-box">
						</div>
					</div>
				</div>
			</div>
